#Traffic {
    height: 250px;
    width: 125px;
    background-color: black;
}

#Red {
    border-radius: 50%;
    background-color: red;
    margin-left: 35px;
    height: 60px;
    width: 60px;
}
#Yellow {
    border-radius: 50%;
    background-color: yellow;
    margin-left: 35px;
    height: 60px;
    width: 60px;
}
#Green {
    border-radius: 50%;
    background-color: green;
    margin-left: 35px;
    height: 60px;
    width: 60px;
}